#voz-next-box {
    /*background: rgb(68, 138, 255);*/
    background: #FFEB3B;
    width: 110px;
    height: 40px;
    position: fixed;
    right: 7px;
    top: 21px;
    text-align: center;
    cursor: move;
    border-radius: 2px;
    padding: 2px 0;
}

#voz-next-box a {
    color: white;
}

#voz-next-box img {
    width: 38px;
}

#voz-next-box #voz-pre {
    transform: rotate(180deg);
}